@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is to remove the chrome default auto-fill effect*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}


/* This is the custom styling to make the checkbox black*/
.custom-checkbox {
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    background-color: black;
    border: 1px solid #4A5568; 
    border-radius: 0.125rem; 
  }
  
  .custom-checkbox:checked {
    background-color: black;
    border-color: black;
    position: relative;
  }

  .custom-checkbox:checked::before {
    content: '✔'; /* Unicode checkmark */
    color: white;
    font-size: 0.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }